README.md
.gitignore
.git
.gitattributes
**/node_modules
**/npm-debug.log
**/yarn-error.log
**/build
**/dist
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
Thumbs.db
**/target
**/src/test
client/public
.env
.env.local
